@import 'normalize';
@import url( 'https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
    background: url("../img/bg.jpg") no-repeat;
    font-family: 'Amatic SC', cursive;
    background-size: cover;
    text-align: center;
}

.wrapper {
margin: 0 auto;
width: 500px;
  h1 {
      color: #fff;
      font-size: 120px;
  }

  h2 {

      color: #fff;
      font-size: 48px;
  }


}
